.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 0.7rem;
}


.profileImage{
    float:left;
    padding-left: 1.3rem;
}
img{
    border-radius: 50%;
    height: 3rem;
}
.profileName{
    float:left; 
    padding-left: 1.3rem;
    padding-top: 0.4rem;
    width:27%;
    text-align: center;
}

.logout{
    float:right;
    padding-right: 2rem;
}

.stats{
    padding-top:20px;
    position: center;
    width: 100%;
    text-align: center;
    
}
