.userProfileHeader{
    width: 1000px;
    height: 360px;
    background-color:rgb(130, 135, 136);
}

.profileImage{
    float:left;
    width:33%;
    height:360px;
}
.profileName{
    float:left; 
    width:33%;
    height:360px;
    text-align: center;
}

.userBalance{
    float:right;
    width:33%;
    height:360px;
    text-align: center;
}