.userProfileHeader{
    width: 920px;
    height: 280px;
}

.profileImage{
    float:left;
    width:300px;
    height:280px;
}
.name{
}

.userBalance{
    float:right;
    width:300px;
    height:280px;
    text-align: center;
}