.stockTransactionComponent {
  position: fixed;
  width: 90vw;
  height: 90vh;
  border: 4px solid #90caf9;
  background: #e3f2fd;
  padding: min(3vh, 3vw);
  overflow: auto;
  top: 2.5vh;
  left: 2.5vw;
  font-weight: 600;
  font-family: "Courier New";
  color: black;
  border-radius: 15px;
}

.stockTransactionInnerDiv {
  width: 100%;
  height: 100%;
}

.stockTransactionTable {
  width: 100%;
  height: 80%;
}

.headerText {
  text-align: center;
  font-weight: bold;
  font-size: clamp(1rem, min(4.5vh, 4.5vw), 100px);
}

.inputBox {
  width: clamp(30%, min(3vh, 3vw), 50px);
  height: clamp(1rem, min(3vh, 3vw), 50px);
  border-radius: 7px;
}

.inputBox[type="number"] {
  font-size: clamp(1rem, min(3vh, 3vw), 30px);
  font-weight: 600;
}

.leftAlign {
  text-align: left;
  margin-left: 10%;
  font-size: clamp(1rem, min(3vh, 3vw), 50px);
  width: 50%;
}

.rightAlign {
  text-align: right;
  margin-right: 10%;
  font-size: clamp(1rem, min(3vh, 3vw), 50px);
  width: 50%;
}

.confirmButton {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 15%;
  font-size: clamp(1rem, min(3vw, 3vh), 300%);
  font-weight: bold;
  background: #90caf9;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.confirmButton:after {
  content: "";
  clear: both;
  display: table;
}

.confirmButton:hover {
  background: #64b5f6;
}

.closeButton {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #e57373;
  position: absolute;
  top: 2vh;
  right: 2vw;
  font-size: clamp(1.5rem, min(3vh, 3vw), 50px);
  font-family: Arial;
}

.closeButton:hover {
  color: #f44336;
}
